@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: black;
    color: orange;
    width: 100%;
    padding: 2% 0;
    text-align: center;
    height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    height: 80vh;
}

form,
.divButtons {
    display: flex;
    align-items: center;
}

input {
    background-color: black;
    color: orange;
    margin: 2% 1%;
    border-radius: 10px;
    text-align: center;
    height: 2em;
}

button {
    background-color: black;
    color: orange;
    margin: 2% 1%;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s linear;
}

form button {
    height: 2em;
}

.divButtons button {
    height: 3em;
}

button:hover {
    background-color: orange;
    color: black;
}

button:focus {
    box-shadow: inset -2px -2px orange;
}
 
p {
    text-align: center;
    font-weight: bold;
}

table {
    border: 2px solid black;
}

thead{
    background-color: black;
    color: orange;

}

td{
    background-color: grey;
}

footer {
    background-color: black;
    color: orange;
    width: 100%;
    padding: 1% 0;
    height: 10vh;
    font-size: large;
}